@page
@model ASPNETRazorPages.Pages.index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    @foreach(var items in Model.Categories)
</div>
</body>
</html>